@import '~antd/dist/antd.css';

.ant-layout-header {
  background-color: #df4c73  ;
  color: white;
  height: 50px;
  line-height: 50px;
}

.ant-layout-content {
  margin-top: 50px;
  min-height: 100vh;
  padding: 24px;
  background-color: #e2f0f9;
  padding: 0px 50px;
  font-family: Assistant;
}

.ant-layout-footer {
  text-align: center;
  background-color: darkolivegreen;
  color: white;
  padding: 0.5em;
}

.logo {
  font-size: x-large;
  font-family: cursive;
  font-style: italic;
}

span.date {
  font-family: cursive;
}

#workshop-page .ant-image {
  display: unset;
}

.ant-timeline-item-content {
  margin: 0px 2em !important;  
}

.ant-space {
  grid-gap: 1em !important;
}

.ant-space-item {
  background-color: #df4c73;
}

.ant-space-item .ant-card {
  max-width: 25em;
  margin: 0 0.5em 0 0;
  font-size: inherit !important;
}

.ant-collapse {
  width: 75%;
}

.ant-collapse-header svg {
  transform: rotate(180deg);
  margin-left: 1em;
}

.ant-back-top {
  left: 5vh;
  bottom: 8vh;
}

.ant-descriptions {
  width: 75%;
}

.ant-descriptions-divider {
  color: #df4c73;
}

.ant-descriptions-view {
  background-color: #f1f1f1;
}

.ant-descriptions-view .ant-descriptions-item-label {
  background-color: #c7dbde;
  font-weight: bold;
}