@import '~antd/dist/antd.css';

.ant-layout-footer {
  text-align: center;
  background-color: darkolivegreen;
  color: white;
  padding: 0.5em;
}

.ant-layout-content {
  min-height: 100vh;
  padding: 24px;
  background-color: #e2f0f9;
  padding: 0px 50px;
}

/* .logo {
  font-size: x-large;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
} */
/* 
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
} */

#workshop-page .ant-image {
  display: unset;
}

.ant-timeline-item-content {
  margin: 0px 2em !important;  
}

.ant-space {
  grid-gap: 1em !important;
}

.ant-space-item {
  background-color: #df4c73;
}

.ant-space-item .ant-card {
  max-width: 25em;
  margin: 0 0.5em 0 0;
  font-size: inherit !important;
}

.ant-collapse {
  width: 75%;
}

.ant-collapse-header svg {
  transform: rotate(180deg);
  margin-left: 1em;
}

.ant-back-top {
  left: 5vh;
  bottom: 8vh;
}

.ant-descriptions {
  width: 75%;
}

.ant-descriptions-divider {
  color: #df4c73;
}

.ant-descriptions-view {
  background-color: #f1f1f1;
}

.ant-descriptions-view .ant-descriptions-item-label {
  background-color: #c7dbde;
  font-weight: bold;
}